@model ECMills.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@if (Model.Name == "John Smith")
{
    <table class="table table-bordered table-responsive table table-striped table-hover">
        <thead>
            <tr>
                <td>Movie Name</td>
                <td>Purchase Date</td>
            </tr>
        </thead>
        <tr>
            <td>Die Hard</td>
            <td>12/07/2018</td>
        </tr>
        <tr>
            <td>Alien Vs Predator</td>
            <td>01/06/2018</td>
        </tr>
    </table>
}
else
{
    <table class="table table-bordered table-responsive table table-striped table-hover">
        <thead>
            <tr>
                <td>Movie Name</td>
                <td>Purchase Date</td>
            </tr>
        </thead>
        <tr>
            <td>Love Life</td>
            <td>10-02-2019</td>
        </tr>
    </table>
}

