@model IEnumerable<ECMills.Models.Client>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<br />
<table class="table table-hover table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <td>Customer ID</td>
            <td>Title</td>
            <td>ForeName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.C_ID</td>
                <td>@customer.C_NAME</td>
                <td>@customer.COMMITMENT</td>
            </tr>
        }
    </tbody>
</table>
