@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
<input type="text" placeholder="Search for customer.." />
<input type="submit" onsubmit="" />

