@using ECMills.Models;
@model dynamic

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Login/LoginLayout.cshtml";
}

<form id="RegisterValidation">
    <div class="FluidGrid10x10">
        <!-- Added some inline styling for the 10x10 grid placement-->
        <div class="card" style="height: 100%; width: 100%; grid-column: 4/7; grid-row: 3/6;">
            <div class="card-header ">
                <h4 class="card-title">Login Form</h4>
            </div>

            <div class="card-body ">
                <div class="form-group has-label">
                    <label>
                        Email Address
                        *
                    </label>
                    <input class="form-control" name="email" type="email" required="true">
                </div>

                <div class="form-group has-label">
                    <label>
                        Password
                        *
                    </label>
                    <input class="form-control" name="password" id="registerPassword" type="password" required="true">
                </div>
                <div class="category form-category">* Required fields</div>
            </div>
            <div class="card-footer text-right">
                <div class="form-check pull-left">
                    <label class="form-check-label">
                        Remember me?
                        <input class="form-check-input" type="checkbox" value="" checked="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Forgot Password</button>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</form>