.DisplayAsGrid {
    width: 100%;
}

ul {
    list-style: none;
}

.content > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-rows: repeat(10, 6.7vh);
    grid-template-areas: "Profile       AddressDetails"
                         "Profile       AddressDetails"
                         "Profile       AddressDetails"
                         "Profile       AddressDetails"
                         "Profile       AddressDetails"
                         "AddressList   AddressDetails"
                         "AddressList   AddressDetails"
                         "AddressList   AddressDetails"
                         "AddressList   AddressDetails"
                         "AddressList   AddressDetails"
                         "AddressList   AddressDetails";
}

#DeceasedProfileForm > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

#ListedAddressCard > div > ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-left: 0px;
}

.RemoveMargins {
    margin-bottom: 0px;
    margin-top: 0px;
}

.FullHeightWidth {
    height: 100%;
    width: 100%;
}

#ProfileCardListItem {
    grid-area: Profile;
}

#AddressListListItem {
    grid-area: AddressList;
}

#AddressDetailsListItem {
    grid-area: AddressDetails;
}



/*

#DeceasedProfileCard {
    grid-column: 2/5;
    grid-row: 1/7;
}

#DeceasedProfileName {
    grid-area: Name;
}
#DeceasedProfileKnownAs {
    grid-area: KnownAs;
}
#DeceasedProfileGender {
    grid-area: Gender;
}
#DeceasedProfileAge {
    grid-area: Age;
}
#DeceasedProfileDOB {
    grid-area: DOB;
}
#DeceasedProfileTimeOfDeath {
    grid-area: TOD;
}
#DeceasedProfileMaritalStatus {
    grid-area: MaritalStatus;
}
#DeceasedProfileOccupation {
    grid-area: Occupation;
}
#DeceasedProfileReligion {
    grid-area: Religion;
}
#DeceasedProfileRelDom {
    grid-area: RelDom;
}
#EditProfile_Button {
    grid-area: Button;
}

#DeceasedProfileForm {
    display: grid;
    grid-gap: 1em;
grid-template-rows: repeat(5, 1fr);
grid-template-areas: "Name           Name            Name            Name            Name        Name        KnownAs     KnownAs     KnownAs     KnownAs"
"Gender         Gender          Age             DOB             DOB         DOB         TOD         TOD         TOD         TOD"
"MaritalStatus  MaritalStatus   MaritalStatus   MaritalStatus   Occupation  Occupation  Occupation  Occupation  Occupation  Occupation"
"Religion       Religion        Religion        Religion        RelDom      RelDom      RelDom      RelDom      RelDom      RelDom"
"Button         Button          Button          .               .           .           .           .           .           .";
height: 100%;
}


*/