ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.RemoveMargins {
    margin-bottom: 0px;
    margin-top: 0px;
}

.RemovePadding {
    padding-left: 0px;
}

.FullHeightWidth {
    height: 100%;
    width: 100%;
}

.BreakLine[data-color="purple"] {
    height: 0.5vh;
    background-color: #9c27b0;
    margin-bottom: 1em;
}

.BreakLine[data-color="white"] {
    height: 0.5vh;
    background-color: #fff;
    margin-bottom: 1em;
}

.BreakLine[data-color="azure"] {
    height: 0.5vh;
    background-color: #00bcd4;
    margin-bottom: 1em;
}

.BreakLine[data-color="green"] {
    height: 0.5vh;
    background-color: #4caf50;
    margin-bottom: 1em;
}

.BreakLine[data-color="orange"] {
    height: 0.5vh;
    background-color: #ff9800;
    margin-bottom: 1em;
}

.BreakLine[data-color="danger"] {
    height: 0.5vh;
    background-color: #f44336;
    margin-bottom: 1em;
}

.BreakLine[data-color="rose"] {
    height: 0.5vh;
    background-color: #e91e63;
    margin-bottom: 1em;
}



#DocumentNav > ul > li{
    display: inline;
}

GridTmplRows-3x1fr {
    grid-template-rows: repeat(3, 1fr);
}

GridTmplRows-4x1fr {
    grid-template-rows: repeat(4, 1fr);
}

.GridTmplRows-75vh {
    grid-template-rows: 75vh;
}

.FluidGridDocuments {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, minmax(40px, 60px)) minmax(100px, 180px) minmax(100px, 150px);
}

.FluidGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.FluidGrid10x10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 10vh);
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.FluidGrid140Min {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.FluidGrid48Min {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.Fluid2-3Grid {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) minmax(200px, 3fr);
    grid-gap: 1.5em;
}

.FluidList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.Fluid4X3Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
}

.Fluid4X4Grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0.5em;
}

.Col1Row1 {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

.Col2Row1 {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.Col1Row2 {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
}

.Col2Row2 {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
}


























#CeremonyPage {
    grid-template-areas: 
        "Ceremony   Officiant" 
        "Ceremony   Officiant" 
        "Ceremony   Officiant" 
        "Ceremony   Officiant" 
        "Memorial   Officiant" 
        "Memorial   Music" 
        "Memorial   Music" 
        "Memorial   Music" 
        "Memorial   Music" 
        "Memorial   Music";
}

/*#########################*/

