ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.card {
    margin-bottom: 0px;
}

.Dashboard-A-Tag {
    display: block;
    width: 100%;
}

.Dashboard-A-Tag:hover {
    background: #c7c7c71c;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.bootstrap-select button.dropdown-toggle {
    margin-top: 2px;
}


/******************************************/

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 33%;
    float: left;
}

/******************************************/


.TxtAlignLeft {
    text-align: left;
}

.TxtAlignRight {
    text-align: right;
}

.RemoveMargins {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.RemoveBottomMargin {
    margin-bottom: 0px !important;
}

.RemovePadding {
    padding: 0px !important;
}

.FullHeightWidth {
    height: 100%;
    width: 100%;
}

.FullWidth {
    width: 100% !important;
}

.FullHeight {
    height: 100% !important;
}

.FullViewHeight {
    height: 100vh !important;
}

.Height40vh {
    height: 40vh !important;
}

.Height41vh {
    height: 41vh !important;
}

.Height42vh {
    height: 42vh !important;
}

.Height45vh {
    height: 45vh !important;
}

.Height85vh {
    height: 85vh !important;
}

.TrnspBackground {
    background-color: transparent !important;
}

.nav-link.NavButtonBorder.active {
    border: 1px solid !important;
}

.OverflowScroll {
    overflow: scroll !important;
}

.OverflowYScroll {
    overflow-y: scroll !important;
}

.TextAlignCenter {
    text-align: center;
}

.BreakLine[data-color="purple"] {
    height: 0.5vh;
    background-color: #9c27b0;
    margin-bottom: 1em;
}

.BreakLine[data-color="white"] {
    height: 0.5vh;
    background-color: #fff;
    margin-bottom: 1em;
}

.BreakLine[data-color="azure"] {
    height: 0.5vh;
    background-color: #00bcd4;
    margin-bottom: 1em;
}

.BreakLine[data-color="green"] {
    height: 0.5vh;
    background-color: #4caf50;
    margin-bottom: 1em;
}

.BreakLine[data-color="orange"] {
    height: 0.5vh;
    background-color: #ff9800;
    margin-bottom: 1em;
}

.BreakLine[data-color="danger"] {
    height: 0.5vh;
    background-color: #f44336;
    margin-bottom: 1em;
}

.BreakLine[data-color="rose"] {
    height: 0.5vh;
    background-color: #e91e63;
    margin-bottom: 1em;
}


#DocumentNav > ul > li{
    display: inline;
}

GridTmplRows-3x1fr {
    grid-template-rows: repeat(3, 1fr);
}

GridTmplRows-4x1fr {
    grid-template-rows: repeat(4, 1fr);
}

.GridTmplRows-75vh {
    grid-template-rows: 75vh;
}

.FluidGridDocuments {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, minmax(40px, 60px)) minmax(100px, 180px) minmax(100px, 150px);
}

.FluidGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.FluidGrid10x10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 10vh);
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.FluidGrid140Min {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.FluidGrid48Min {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-gap: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.Fluid2-3Grid {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) minmax(200px, 3fr);
    grid-gap: 1.5em;
}

.FluidList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.Fluid4X3Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
}

.Fluid4X4Grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0.5em;
}

.Col1Row1 {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

.Col2Row1 {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.Col1Row2 {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
}

.Col2Row2 {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
}





#CeremonyPage {
    grid-template-areas: 
        "Ceremony   Officiant" 
        "Ceremony   Officiant" 
        "Ceremony   Officiant" 
        "Ceremony   Officiant" 
        "Memorial   Officiant" 
        "Memorial   Music" 
        "Memorial   Music" 
        "Memorial   Music" 
        "Memorial   Music" 
        "Memorial   Music";
}

/*#########################*/

