@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
            <div class="card card-wizard active" data-color="rose" id="wizardProfile">
                <form action="" novalidate="novalidate">
                    <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            First Call
                        </h3>
                        <h5 class="card-description">Log a Clients First Call</h5>
                    </div>
                    <div class="wizard-navigation">
                        <ul class="nav nav-pills">
                            <li class="nav-item" style="width: 25%;">
                                <a class="nav-link active" href="#calldetails" data-toggle="tab" role="tab">
                                    Call Details
                                </a>
                            </li>
                            <li class="nav-item" style="width: 25%;">
                                <a class="nav-link" href="#deceasedperson" data-toggle="tab" role="tab">
                                    Deceased Person
                                </a>
                            </li>
                            <li class="nav-item" style="width: 25%;">
                                <a class="nav-link" href="#contactdetails" data-toggle="tab" role="tab">
                                    Contact Details
                                </a>
                            </li>
                            <li class="nav-item" style="width: 25%;">
                                <a class="nav-link" href="#appointment" data-toggle="tab" role="tab">
                                    Appointment
                                </a>
                            </li>
                        </ul>
                        <div class="moving-tab" style="width: 187.5px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s ease 0s;">
                            Call Details
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" style="padding-top: 30px;">
                            <div class="tab-pane active" id="calldetails">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Job Type</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select form-control">
                                                                    <select class="selectpicker" data-size="7" name="JobType" aria-invalid="true" required data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option value="Funeral"> Funeral </option>
                                                                        <option value="FuneralPlan"> Sundry </option>
                                                                    </select>
                                                                    <!--<label id="required-error" class="error" for="JobType">This field is required.</label>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Job Sub Type</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select form-control">
                                                                    <select class="selectpicker" required data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option value="Funeral"> Funeral </option>
                                                                        <option value="FuneralPlan"> Funeral Plan </option>
                                                                        <option value="FuneralPlan"> Cremation </option>
                                                                        <option value="FuneralPlan"> Direct Cremation </option>
                                                                        <option value="FuneralPlan"> Transport </option>
                                                                        <option value="FuneralPlan"> Quotation </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group bmd-form-group">
                                                            <div class="form-check mr-auto">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                    Death Registered?
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Title</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select form-control">
                                                                    <select class="selectpicker" required data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option value="Funeral"> Mr </option>
                                                                        <option value="FuneralPlan"> Mrs </option>
                                                                        <option value="FuneralPlan"> Miss </option>
                                                                        <option value="FuneralPlan"> Ms </option>
                                                                        <option value="FuneralPlan"> Doctor </option>
                                                                        <option value="FuneralPlan"> Nurse </option>
                                                                        <option value="FuneralPlan"> Father </option>
                                                                        <option value="FuneralPlan"> Reverand </option>
                                                                        <option value="FuneralPlan"> Mrs </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Forename(s)</label>
                                                            <input class="form-control" type="text" name="forenames" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Surname</label>
                                                            <input class="form-control" type="text" name="surname" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Relationship To Deceased</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select">
                                                                    <select class="selectpicker" data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option selected></option>
                                                                        <option value="Funeral"> Son </option>
                                                                        <option value="FuneralPlan"> Daughter </option>
                                                                        <option value="FuneralPlan"> Mother </option>
                                                                        <option value="FuneralPlan"> Father </option>
                                                                        <option value="FuneralPlan"> Brother </option>
                                                                        <option value="FuneralPlan"> Sister </option>
                                                                        <option value="FuneralPlan"> Cousin </option>
                                                                        <option value="FuneralPlan"> Aunt </option>
                                                                        <option value="FuneralPlan"> Uncle </option>
                                                                        <option value="FuneralPlan"> Other </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Deceased Picked Up From</label>
                                                            <input class="form-control" type="text" name="pickedupfrom" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card" style="box-shadow: none !important;">
                                                            <div class="card-header" style="padding: 0;">
                                                                <h4 class="card-title">Contact Points</h4>

                                                            </div>
                                                            <div class="card-body" style="padding: 0;/* padding-right: 0; */">
                                                                <div class="toolbar">
                                                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                                                </div>
                                                                <div class="material-datatables">
                                                                    <table id="datatables" class="table table-hover" cellspacing="0" style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="padding-left: 0;">Type</th>
                                                                                <th style="padding-left: 0;">Value</th>
                                                                                <th class="disabled-sorting text-right">Actions</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 0;">E-Mail</td>
                                                                                <td style="padding: 0;">RyanGillooly@hotmail.co.uk</td>
                                                                                <td class="text-right" style="padding: 0;">
                                                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0;">Mobile Phone</td>
                                                                                <td style="padding: 0;">07415835716</td>
                                                                                <td class="text-right" style="padding: 0;">
                                                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0;">Home Phone</td>
                                                                                <td style="padding: 0;">01236 612854</td>
                                                                                <td class="text-right" style="padding: 0;">
                                                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group bmd-form-group">
                                                                <label class="bmd-label-floating">Additional Notes</label>
                                                                <textarea class="form-control" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="deceasedperson">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Title</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select">
                                                                    <select class="selectpicker" data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option selected></option>
                                                                        <option value="Funeral"> Mr </option>
                                                                        <option value="FuneralPlan"> Mrs </option>
                                                                        <option value="FuneralPlan"> Miss </option>
                                                                        <option value="FuneralPlan"> Ms </option>
                                                                        <option value="FuneralPlan"> Doctor </option>
                                                                        <option value="FuneralPlan"> Nurse </option>
                                                                        <option value="FuneralPlan"> Father </option>
                                                                        <option value="FuneralPlan"> Reverand </option>
                                                                        <option value="FuneralPlan"> Mrs </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Forename(s)</label>
                                                            <input class="form-control" type="text" name="forenames2" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Surname</label>
                                                            <input class="form-control" type="text" name="surname2" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Known As</label>
                                                            <input class="form-control" type="text" name="knownas" aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Gender</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select">
                                                                    <select class="selectpicker" data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option selected></option>
                                                                        <option value="Funeral"> Male </option>
                                                                        <option value="FuneralPlan"> Female </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Age</label>
                                                            <input class="form-control" type="text" name="age" required aria-required="true" aria-invalid="true" range="[0,140]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Date of Birth</label>
                                                            <div class="form-control" id="ReadOnlyInput-DOB"></div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Date/Time of Death</label>
                                                            <div class="form-control" id="ReadOnlyInput-TimeOfDeath"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Marital Status</label>
                                                            <input class="form-control" type="text" name="maritalstatus" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Occupation</label>
                                                            <input class="form-control" type="text" name="occupation" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Religion</label>
                                                            <input class="form-control" type="text" name="religion" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Religious Denomination</label>
                                                            <input class="form-control" type="text" name="religiousdenomination" required aria-required="true" aria-invalid="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="contactdetails">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Title</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select">
                                                                    <select class="selectpicker" data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option selected></option>
                                                                        <option value="Funeral"> Mr </option>
                                                                        <option value="FuneralPlan"> Mrs </option>
                                                                        <option value="FuneralPlan"> Miss </option>
                                                                        <option value="FuneralPlan"> Ms </option>
                                                                        <option value="FuneralPlan"> Doctor </option>
                                                                        <option value="FuneralPlan"> Nurse </option>
                                                                        <option value="FuneralPlan"> Father </option>
                                                                        <option value="FuneralPlan"> Reverand </option>
                                                                        <option value="FuneralPlan"> Mrs </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Forename(s)</label>
                                                            <div class="form-control" id="ReadOnlyInput-Name"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Surname</label>
                                                            <div class="form-control" id="ReadOnlyInput-Name"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Known As</label>
                                                            <div class="form-control" id="ReadOnlyInput-Known_As"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Gender</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <div class="dropdown bootstrap-select">
                                                                    <select class="selectpicker" data-size="7" data-style="select-with-transition" title="" tabindex="-98">
                                                                        <option selected></option>
                                                                        <option value="Funeral"> Male </option>
                                                                        <option value="FuneralPlan"> Female </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Age</label>
                                                            <div class="form-control" id="ReadOnlyInput-Age"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Date of Birth</label>
                                                            <div class="form-control" id="ReadOnlyInput-DOB"></div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Date/Time of Death</label>
                                                            <div class="form-control" id="ReadOnlyInput-TimeOfDeath"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Marital Status</label>
                                                            <div class="form-control" id="ReadOnlyInput-MaritalStatus"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Occupation</label>
                                                            <div class="form-control" id="ReadOnlyInput-Occupation"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Religion</label>
                                                            <div class="form-control" id="ReadOnlyInput-Religion"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-static">Religious Denomination</label>
                                                            <div class="form-control" id="ReadOnlyInput-RelDom"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="appointment">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appointmentpicker">View Diary</button>

                                                        <div class="modal fade" id="appointmentpicker" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="card-body">
                                                                        <div id='fullCalendar'>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mr-auto">
                            <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                        </div>
                        <div class="ml-auto">
                            <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
                            <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" style="display: none;">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
        <!-- wizard container -->
    </div>
</div>

@section scripts {
    

    <script>
        $(document).ready(function () {
            // Initialise the wizard
            demo.initMaterialWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
        });
    </script>
    <script>
        $calendar = $('#fullCalendar');

        today = new Date();
        y = today.getFullYear();
        m = today.getMonth();
        d = today.getDate();

        $calendar.fullCalendar({
            viewRender: function (view, element) {
                // We make sure that we activate the perfect scrollbar when the view isn't on Month
                if (view.name != 'month') {
                    $(element).find('.fc-scroller').perfectScrollbar();
                }
            },
            header: {
                left: 'title',
                center: 'Month,Week,Day',
                right: 'prev,next,today'
            },
            defaultDate: today,
            selectable: true,
            selectHelper: true,
            views: {
                month: { // name of view
                    titleFormat: 'MMMM YYYY'
                    // other view-specific options here
                },
                week: {
                    titleFormat: " MMMM D YYYY"
                },
                day: {
                    titleFormat: 'D MMM, YYYY'
                }
            },

            select: function (start, end) {

                // on select we show the Sweet Alert modal with an input
                swal({
                    title: 'Create an Event',
                    html: '<div class="form-group">' +
                        '<input class="form-control" placeholder="Event Title" id="input-field">' +
                        '</div>',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function (result) {

                    var eventData;
                    event_title = $('#input-field').val();

                    if (event_title) {
                        eventData = {
                            title: event_title,
                            start: start,
                            end: end
                        };
                        $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                    }

                    $calendar.fullCalendar('unselect');

                });
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events


            // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
            events: [
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1),
                    className: 'CalendarItem-Cremation'
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d - 1, 10, 30),
                    allDay: false,
                    className: 'CalendarItem-Funeral'
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d + 7, 12, 0),
                    end: new Date(y, m, d + 7, 14, 0),
                    allDay: false,
                    className: 'CalendarItem-Cremation'
                },
                {
                    title: 'Nud-pro Launch',
                    start: new Date(y, m, d - 2, 12, 0),
                    allDay: true,
                    className: 'CalendarItem-Funeral'
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false,
                    className: 'CalendarItem-Funeral'
                },
                {
                    title: 'Click for Creative Tim',
                    start: new Date(y, m, 21),
                    end: new Date(y, m, 22),
                    url: 'http://www.creative-tim.com/',
                    className: 'CalendarItem-Cremation'
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 21),
                    end: new Date(y, m, 22),
                    url: 'http://www.creative-tim.com/',
                    className: 'CalendarItem-Cremation'
                }
            ]
        });

    </script>
}