@using ECMills.Models;
@model dynamic

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="FluidGrid48Min">
        <div class="card RemoveMargins">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Mrs Violet Anthoinette Crooks</h4>
                <p class="card-category">Ceremony</p>
            </div>
            <div class="card-body">
                <!--
                    Ceremony
                <hr>
                    -->
                <div class="FluidList">
                    <div>
                        <ul style="display: grid;grid-template-columns: repeat(3, 1fr);">
                            <li><a href="#">Ceremony</a></li>
                            <li><a href="#">Committal</a></li>
                            <li><a href="#">Reception</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>Ceremony</li>
                            <li>Committal</li>
                            <li>Reception</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card RemoveMargins">
            <div class="card-body">
                Officiant
                <hr>
            </div>
        </div>
        <div class="card RemoveMargins">
            <div class="card-body">
                Memorial
                <hr>
            </div>
        </div>
        <div class="card RemoveMargins">
            <div class="card-body">
                Music
                <hr>
                <b>Hymns & Recorded Music</b>
                <p>Venue        Hymn        Notes       On Entry</p>
                <p></p>
                <b>Organist & Instrumentalists</b>
                <p>Venue        Music       Type        Musician        On Entry</p>
                <p></p>
            </div>
        </div>
    </div>