@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-nav-tabs RemoveBottomMargin Height40vh">
                        <div class="card-header card-header-icon card-header-rose" style="margin-top: 0px !important;">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">
                                Ceremony
                                <!-- <small class="category">Complete your profile</small> -->
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs active show" data-tabs="tabs" style="padding-left: 0px !important; border-bottom: 1px solid; border-radius: 0;">
                                        <li class="nav-item active">
                                            <a class="nav-link active NavButtonBorder" href="#profile" data-toggle="tab" style="color: black !important;">
                                                Ceremony
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link NavButtonBorder" href="#messages" data-toggle="tab" style="color: black !important;">
                                                Committal
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link NavButtonBorder" href="#settings" data-toggle="tab" style="color: black !important;">
                                                Reception
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active show" id="profile">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card Height40vh OverflowYScroll">
                        <div class="card-body">
                            
                            Officiant
                            
                            <hr>
                            
                            <div class="row">
                                <div class="col-md-6">
                                            <div class="form-group bmd-form-group">
                                                <label class="onclick bmd-label-static">Name</label>
                                                <input class="form-control" style="padding-top: 17px; background-color: transparent !important;" type="text" name="forenames" placeholder="Chaplin Nicholas Roddis" readonly aria-required="true" aria-invalid="true">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-group bmd-form-group">
                                                    <label class="bmd-label-static">Address</label>
                                                    <textarea style="background-color: transparent !important;" class="form-control" rows="4" placeholder="Martlets Hospice
Wayfield Avenue
Hove
BN37LW" ></textarea>
                                                </div>
                                           
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="bmd-label-static">Contact Points</label>
                                            <br />
                                            Phone: 07415835716 
                                            <br />
                                            Email: Nicholas.Roddis@email.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">Address</label>
                                        <textarea class="form-control" rows="4" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card RemoveBottomMargin Height40vh OverflowYScroll">
                        <div class="card-body">
                            
                            Memorial
                            
                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-sm btn-rose">
                                        <i class="material-icons">add</i> Create Sundry Ashes Interment
                                    </button>

                                    <button type="button" class="btn btn-sm btn-info">
                                        <i class="material-icons">not_interested</i> No Ashes Interment Required
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Requirement</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Mason" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Memorial Booked</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Yes" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Memorial Removal Booked</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Yes" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Material</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Marble" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Finish</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Flush" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Fixing Date</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="20/07/2019" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Masonry Quote Reference</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="RFE2QWSS232A" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Mason</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Yes" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Inscript Text</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="My Darling at Rest" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Inscription Font</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Helvetica" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Inscription Finish</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="Detailed" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Base</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="0" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Size</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder='31"x22"' readonly aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-static">Photo Taken</label>
                                        <input class="form-control TrnspBackground" style="padding-top: 17px;" type="text" name="forenames" placeholder="No" readonly aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group bmd-form-group">
                                            <label class="onclick bmd-label-static">Description</label>
                                            <textarea class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card Height40vh OverflowYScroll">
                        <div class="card-body">
                            Music
                            <hr>
                            <b>Hymns & Recorded Music</b>
                            <p>Venue        Hymn        Notes       On Entry</p>
                            <p></p>
                            <b>Organist & Instrumentalists</b>
                            <p>Venue        Music       Type        Musician        On Entry</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
