@using ECMills.Models;
@model dynamic

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="CeremonyPage">
    <li id="CeremonyListItem">
        <div class="card RemoveMargins FullHeightWidth" id="CeremonyListCard">
            <div class="card-body">
                Ceremony
                <hr />
                <ul class="RemovePadding"></ul>
            </div>
        </div>
    </li>
    <li id="OfficiantListItem">
        <div class="card RemoveMargins FullHeightWidth" id="OfficiantListCard">
            <div class="card-body">
                Officiant
                <hr />
                <ul class="RemovePadding"></ul>
            </div>
        </div>
    </li>
    <li id="MemorialListItem">
        <div class="card RemoveMargins FullHeightWidth" id="MemorialListCard">
            <div class="card-body">
                Memorial
                <hr />
                <ul class="RemovePadding"></ul>
            </div>
        </div>
    </li>
    <li id="MusicListItem">
        <div class="card RemoveMargins FullHeightWidth" id="MusicListCard">
            <div class="card-body">
                Music
                <hr />
                <ul class="RemovePadding"></ul>
            </div>
        </div>
    </li>
</ul>