@using ECMills.Models;
@model dynamic

<style>
    .BreakLine {
        margin-top: 1em !important;
        margin-bottom: 1.5em !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-text card-header-rose">
                    <div class="card-text">
                        <h4 class="card-title">Mrs Violet Anthoinette Crooks</h4>
                        <p class="card-category">Coffin</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group ">
                                <label class="bmd-label-static">
                                    Coffin Or Casket
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="onclick bmd-label-static">Supplier</label>
                                <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Lining Colour
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Fittings
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Additional Ornaments
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Coffin Shape
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Dress In Gown
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Own Clothes - Special Instructions
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Embalming
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Pacemaker
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Fixion
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Removed?
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-color="rose" class="BreakLine"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="bmd-label-static">
                                Internal
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Length
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Width
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Depth
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="bmd-label-static">
                                Internal
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Length
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Width
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Depth
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="bmd-label-static">
                                Deceased Person
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Length
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Width
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Depth
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div data-color="rose" class="BreakLine"></div>
                            <div>
                                <label class="onclick bmd-label-static">Notes</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            Visiting

                            <hr />

                            <div class="col-12">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <text>Arrangement is not yet ready for visiting.</text>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <text>Visitors have not yet been added to this arrangement.</text>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="pull-left">
                                <button id="EditProfileBtn" onclick="" class="btn btn-rose pull-left">Manage Visitors</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            Jewellery

                            <hr />

                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <text class="pull-left">Items</text>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-static">Date Collected</label>
                                                <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-static">Who Collected</label>
                                                <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-static">Who Removed</label>
                                                <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-static">Date Removed</label>
                                                <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            Ashes / Casket Details

                            <hr />

                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-static">Product</label>
                                        <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-static">Size</label>
                                        <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-static">Supplier</label>
                                        <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-static">Order Date</label>
                                        <input class="form-control" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
