@using ECMills.Models;
@model dynamic

<!-- Overwrite some styles locally, do not overwrite globally-->
<style>
    .form-group {
        padding-bottom: 16px !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="height: 83vh !important;">
                <div class="card-header card-header-text card-header-rose">
                    <div class="card-text">
                        <h4 class="card-title">Mrs Violet Anthoinette Crooks</h4>
                        <p class="card-category">Coffin</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group ">
                                <label class="bmd-label-static">
                                    Coffin Or Casket
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="onclick bmd-label-static">Supplier</label>
                                <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="" aria-required="true" aria-invalid="true">
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Lining Colour
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Fittings
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Additional Ornaments
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Coffin Shape
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Dress In Gown
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Own Clothes - Special Instructions
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Embalming
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Pacemaker
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Fixion
                                </label>
                                <div class="form-control">

                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Removed?
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-color="rose" class="BreakLine"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="bmd-label-static">
                                Internal
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Length
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Width
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Depth
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="bmd-label-static">
                                Internal
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Length
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Width
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Depth
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="bmd-label-static">
                                Deceased Person
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Length
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Width
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">
                                    Depth
                                </label>
                                <div class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div data-color="rose" class="BreakLine"></div>
                            <div>
                                <label class="onclick bmd-label-static">Notes</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card RemoveBottomMargin" style="height: 28vh !important;">
                        <div class="card-body">
                            Visiting
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card RemoveBottomMargin" style="height: 28vh !important;">
                        <div class="card-body">
                            Jewellery
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body" style="height: 20.5vh !important">
                            Ashes / Casket Details
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
