@using ECMills.Models;
@model dynamic

@{
   ViewBag.Title = "Documents";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="FluidList FullHeightWidth">
    <div class="card RemoveMargins">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Mrs Violet Anthoinette Crooks</h4>
            <p class="card-category">Documents</p>
        </div>
        <div class="card-body FluidList" id="DocumentNav" style="grid-gap: 0px;">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                        Forms
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                        Letters
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                        Miscellaneous Documents
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                        Accounts Documents
                    </a>
                </li>
            </ul>

            <!-- <div data-color="purple" class="BreakLine" style="margin: 0px;"></div> -->

            <ul class="nav justify-content-left">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Refresh</a>
                </li>
            </ul>
            <table class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Document Type</th>
                        <th>Size</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Medical Certificate - Ryan</td>
                        <td>PDF</td>
                        <td>Cremation Form - 4</td>
                        <td>3.45 MB</td>
                        <td>6 Days Ago</td>
                    </tr>
                    <tr>
                        <td>Medical Certificate - Ryan</td>
                        <td>PDF</td>
                        <td>Cremation Form - 4</td>
                        <td>3.45 MB</td>
                        <td>6 Days Ago</td>
                    </tr>
                    <tr>
                        <td>Medical Certificate - Ryan</td>
                        <td>PDF</td>
                        <td>Cremation Form - 4</td>
                        <td>3.45 MB</td>
                        <td>6 Days Ago</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script>

    </script>
}