@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="margin-bottom: 0px !important;">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        Edit Profile -
                        <small class="category">Complete your profile</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Additional Notes</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-bottom: 0px !important;">
                <div class="card-body">
                    Key Information

                    <hr />
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Name</label>
                                    <div class="form-control" id="ReadOnlyInput-Name"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Known As</label>
                                    <div class="form-control" id="ReadOnlyInput-Known_As"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Gender</label>
                                    <div class="form-control" id="ReadOnlyInput-Gender"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Age</label>
                                    <div class="form-control" id="ReadOnlyInput-Age"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Date of Birth</label>

                                    <div class="form-control" id="ReadOnlyInput-DOB"></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Date/Time of Death</label>
                                    <div class="form-control" id="ReadOnlyInput-TimeOfDeath"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Marital Status</label>
                                    <div class="form-control" id="ReadOnlyInput-MaritalStatus"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Occupation</label>
                                    <div class="form-control" id="ReadOnlyInput-Occupation"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Religion</label>
                                    <div class="form-control" id="ReadOnlyInput-Religion"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Religious Denomination</label>
                                    <div class="form-control" id="ReadOnlyInput-RelDom"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">Additional Notes</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-left">Edit Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="margin-bottom: 0px !important;">
                <div class="card-body Height85vh">
                    Arrangement Checklist

                    <hr />

                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table header-fixed table-striped table-no-bordered table-hover TextAlignCenter" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Task</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody style="height: 70vh;">
                                @{
                                    Int16 MaxCount = 15;
                                    Int16 Count = 1;
                                    while (Count <= MaxCount)
                                    {
                                        if (Count % 2 == 0)
                                        {
                                            <tr>
                                                <td class="td-actions text-center">
                                                    <button type="button" rel="tooltip" class="btn btn-success btn-round" style="padding: 1px !important;">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                </td>
                                                <td>Hospital Form Recieved</td>
                                                <td>Note was delayed by 2 days</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="td-actions text-center">
                                                    <button type="button" rel="tooltip" class="btn btn-danger btn-round" style="padding: 1px !important;">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                                <td>Hospital Form Recieved</td>
                                                <td>Note was delayed by 2 days</td>
                                            </tr>
                                        }

                                        Count++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        
    </script>
}