@using ECMills.Models;
@model dynamic

<!--  -->
<style>
    .timeline > li > .timeline-panel {
        margin-bottom: 0;
        padding: 6px 20px 6px 20px;
    }

        .timeline > li > .timeline-panel:hover {
            background: #ff2ff92e;
        }

            .timeline > li > .timeline-panel:hover:after {
                background: #ff2ff92e;
                border-right: 0 solid #ff2ff92e;
            }

        .timeline > li > .timeline-panel > .timeline-heading {
            margin-bottom: 0;
        }

    .timeline > li > .timeline-badge {
        top: 0px;
    }

    .timeline:before, .timeline > li > .timeline-badge {
        left: 4%;
    }

    .timeline:before {
        top: 26px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #e5e5e5;
        left: 50%;
        margin-left: -1px;
    }

    .timeline > li > .timeline-badge {
        color: #fff;
        width: 35px;
        height: 35px;
        line-height: 51px;
        font-size: 1.3em;
        text-align: center;
        position: absolute;
        /* top: 16px; */
        left: 50%;
        margin-left: -17px;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

        .timeline > li > .timeline-badge [class*=" ti-"], .timeline > li > .timeline-badge [class=material-icons], .timeline > li > .timeline-badge [class^=ti-] {
            font-size: large;
            display: block;
            line-height: 2;
        }

    .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 5px;
        right: -15px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #e4e4e4;
        border-right: 0 solid #e4e4e4;
        border-bottom: 14px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 3px !important;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="margin-bottom: 0px !important; height: 22vh !important;">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        Special Attention
                        <!-- <small class="category">Complete your profile</small> -->
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-group bmd-form-group">
                            <!-- <label class="bmd-label-floating">Additional Notes</label> -->
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card OverflowYScroll" style="margin-bottom: 0px !important; height: 58vh !important;">
                <div class="card-body">
                    Key Information

                    <hr />
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Name</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="Miss Violet Crooks" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Known As</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Gender</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="Male" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Age</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="43" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Date of Birth</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="5th December 1976" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Date/Time of Death</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="20th June 2019 02:32am" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Marital Status</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="Single" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Occupation</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="I.T. Professional" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Religion</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="Athiest" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="onclick bmd-label-static">Religious Denomination</label>
                                    <input class="form-control" style="padding-top: 17px;" type="text" name="forenames" placeholder="Athiest" readonly aria-required="true" aria-invalid="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group">
                                        <label class="onclick bmd-label-floating">Additional Notes</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="buttonswitch">
                            <button id="EditProfileBtn" onclick="editProfile()" class="btn btn-rose pull-left">Edit Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card OverflowYScroll" style="margin-bottom: 0px !important; height: 83vh !important;">
                <div class="card-body FullHeight">
                    Arrangement Checklist

                    <hr>

                    <ul class="timeline timeline-simple">
                        @{
                            Int16 MaxCount = 15;
                            Int16 Count = 1;
                            while (Count <= MaxCount)
                            {
                                if (Count % 2 == 0)
                                {
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge success">
                                            <i class="material-icons">mail</i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-success">Form</span> <text>Cremation 1</text>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="timeline-inverted">
                                        <div class="timeline-badge danger">
                                            <i class="material-icons">mail</i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-danger">Form</span> <text>Cremation 2</text>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge warning">
                                            <i class="material-icons">mail</i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-warning">Form</span> <text>Cremation 3</text>
                                            </div>
                                        </div>
                                    </li>
                                }

                                Count++;
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function editProfile() {
            $(".form-control").prop("readonly", false);
            $(".form-control").val("lol");

            $("#EditProfileBtn").remove();
            $("#buttonswitch").append("<button id='CancelProfileEditBtn'; onclick='cancelProfileEdit()' class='btn btn-rose pull-left'>Cancel</button>");
            $("#buttonswitch").append("<button id='UpdateProfileButton'; onclick='updateProfile()' class='btn btn-rose pull-right'>Update</button>");
        };

    function cancelProfileEdit() {
        $("#buttonswitch").empty();
        $("#buttonswitch").append("<button id='EditProfileBtn' onclick='editProfile()' class='btn btn-rose pull-left'>Edit Profile</button>");
        $(".form-control").prop("readonly", true);
    };
    </script>
}