@using ECMills.Models;
@model dynamic

@{
    ViewBag.Title = "Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="FluidList FullHeightWidth">
        <div class="card RemoveMargins">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Mrs Violet Anthoinette Crooks</h4>
                <p class="card-category">Vehicles</p>
            </div>
            <div class="card-body FluidList">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <tr>
                            <th>Type</th>
                            <th>Vehicle/Supplier</th>
                            <th>Time</th>
                            <th>Collection</th>
                            <th>Destination</th>
                            <th>2nd Destination</th>
                            <th>Return</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hearse</td>
                            <td>Car</td>
                            <td>11:20</td>
                            <td>next of Kin: Address</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>Home</td>
                        </tr>
                        <tr>
                            <td>Hearse</td>
                            <td>Car</td>
                            <td>11:20</td>
                            <td>next of Kin: Address</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>Home</td>
                        </tr>
                        <tr>
                            <td>Hearse</td>
                            <td>Car</td>
                            <td>11:20</td>
                            <td>next of Kin: Address</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>Home</td>
                        </tr>
                        <tr>
                            <td>Hearse</td>
                            <td>Car</td>
                            <td>11:20</td>
                            <td>next of Kin: Address</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>Home</td>
                        </tr>
                        <tr>
                            <td>Hearse</td>
                            <td>Car</td>
                            <td>11:20</td>
                            <td>next of Kin: Address</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>123 Road, ML6 0NY</td>
                            <td>Home</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="FluidGrid48Min">
            <div class="card RemoveMargins">
                <div class="card-body">
                    Fees
                    <hr />
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>Charge</th>
                                <th>Price</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card RemoveMargins">
                <div class="card-body">
                    Personnel
                    <hr />
                </div>
            </div>
        </div>
    </div>


@section scripts {
    <script>

    </script>
}