@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">car</i>
                    </div>
                    <h4 class="card-title">
                        Mrs Violet Anthoinette Crooks
                        <small class="category">Vehicles</small> 
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="text-rose">
                            <tr>
                                <th>Type</th>
                                <th>Vehicle/Supplier</th>
                                <th>Time</th>
                                <th>Collection</th>
                                <th>Destination</th>
                                <th>2nd Destination</th>
                                <th>Return</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>Car</td>
                                <td>11:20</td>
                                <td>next of Kin: Address</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>123 Road, ML6 0NY</td>
                                <td>Home</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-body">
                    Fees
                    <hr />
                    <table class="table table-hover">
                        <thead class="text-rose">
                            <tr>
                                <th>Charge</th>
                                <th>Price</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                            <tr>
                                <td>Hearse</td>
                                <td>£478.00</td>
                                <td>£0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Personnel
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

    </script>
}